#msg {
    width:90%;
    text-align:center;
    margin:0 auto;
    font-size:4.5em;
  }
  
  #gameArea {
    text-align:center;
  }
  
  .portion {
    display:inline-block;
    width:40%;
    padding:20px;
    margin:0 auto;
  }
  
  #slider {
    height:300px;
    float:left;
    margin-left:15px;
    margin-right:-15px;
  }
  
  .hand {
    font-size: 10px;
  }
  
  .fakebtn {
    border:1px solid black;
    
  }
  
  #testDeal {
    display:none;
  }